{% extends 'mlpool/base.html' %}

{% block content %}
    <p>
        Этот вебсервис позволяет делать всякие прикольные штуки.
        <button href="{%url 'users:login'%}">Login</button>{#TODO: href does not work#}
    </p>
    {% if user.is_authenticated %}
        Project List: <a href="{% url 'mlpool:projects' %}">here</a>
        {% else %}
        <p>Sign in into your account to see your list of available projects.</p>
    {% endif %}
    <h3>Новости:</h3>
    <p>
        {#TODO: make a model of news#}
        <li>Мы вот чото сделали</li>
        <li>А потом еще чото</li>
        <li>А потом еще</li>
    </p>
{% endblock content %}

