{% extends 'mlpool/base.html' %}

{% block content %}
    <p>
        <a href="{% url 'mlpool:project' project.id%}">Назад в проект</a>
    </p>
    <h3>{{ task }}</h3>
    <p>{{ task.description }}</p>
    <div>
        <h3>Список моделей:</h3>
        <ul>
            {% for m in models %}
                <li>
                    {{ m }} - {{ m.date_added }}
                </li>
            {% empty %}
            Пока нет моделей.
            {% endfor %}
        </ul>
    </div>
    <p>Добавить новую модель: <a href="{% url 'mlpool:new_ml_model' task.id %}">тык</a></p>
{% endblock content %}

